<a href="https://colab.research.google.com/github/danielgomescruz/Meus_estudos/blob/main/FormatarTabelasPandasNumpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Visualização de dados em Python: Formatação de Tabelas**

Muitas vezes precisamos utilizar uma tabela para apresentar os resultados e é importante apresentar a tabela da forma mais informativa possível. 

No Python é possível customizar as tabelas da maneira desejada e da forma mais adequada. Nesse notebook apresento algumas opções de formatação de tabelas:

* Mudando a cor da fonte.
* Mundando a cor da célula.
* Adicionando uma gráfico de barra na célula.

Para fazer essas formatação utilizamos o comando 'style' da biblioteca Pandas.

##Gerando os dados

Para exemplificar as diversas maneiras de formatar uma tabela no Python geramos um pequeno conjunto de dados.

In [1]:
import numpy as np
import pandas as pd

In [10]:

notas = {'Joaquim': np.random.uniform(5, 10, 4).round(1),
              'Bruna': np.random.uniform(0, 7, 4).round(1),
              'Laura': np.random.uniform(3, 7, 4).round(1),
              'Daniel': np.random.uniform(0, 10, 4).round(1),
              'Clara': np.random.uniform(8, 10, 4).round(1)}

In [11]:
provas = pd.DataFrame(notas)
provas.index = ['P1', 'P2', 'P3', 'P4']
df = provas.transpose()
df

          P1   P2   P3   P4
Joaquim  5.5  5.3  5.6  8.5
Bruna    1.9  3.8  0.4  6.9
Laura    5.1  3.5  5.3  4.3
Daniel   7.3  2.6  1.7  4.5
Clara    8.5  8.8  9.9  8.5

In [5]:
#descritiva do dataset
df.describe()

             P1        P2        P3        P4
count  5.000000  5.000000  5.000000  5.000000
mean   6.380000  6.300000  6.400000  7.060000
std    2.532193  2.411431  2.462722  1.418802
min    3.100000  4.100000  3.700000  5.500000
25%    5.100000  4.700000  4.600000  6.000000
50%    5.900000  5.200000  5.900000  6.900000
75%    8.500000  7.600000  8.200000  7.900000
max    9.300000  9.900000  9.600000  9.000000

In [12]:
#Analisando a descritiva pela linha
df.transpose().describe()

        Joaquim     Bruna     Laura    Daniel     Clara
count  4.000000  4.000000  4.000000  4.000000  4.000000
mean   6.225000  3.250000  4.550000  4.025000  8.925000
std    1.521786  2.802975  0.822598  2.475715  0.665207
min    5.300000  0.400000  3.500000  1.700000  8.500000
25%    5.450000  1.525000  4.100000  2.375000  8.500000
50%    5.550000  2.850000  4.700000  3.550000  8.650000
75%    6.325000  4.575000  5.150000  5.200000  9.075000
max    8.500000  6.900000  5.300000  7.300000  9.900000

##Adicionando novas variáveis na Tabela

Muitas vezes é necessário criar novas variáveis, a seguir mostramos dois exemplos de como podemos adicionar novas variáveis em um conjunto de dados.

In [13]:
#criado a variável média final
df['MF'] = df.mean(axis = 1).round(1)
df

          P1   P2   P3   P4   MF
Joaquim  5.5  5.3  5.6  8.5  6.2
Bruna    1.9  3.8  0.4  6.9  3.2
Laura    5.1  3.5  5.3  4.3  4.6
Daniel   7.3  2.6  1.7  4.5  4.0
Clara    8.5  8.8  9.9  8.5  8.9

In [15]:
#criando uma variável situação
def aux(x):
    if x >= 5:
        return 'Aprovado'
    else:
        return 'Reprovado'

df['Situação'] = df['MF'].apply(aux)
df

          P1   P2   P3   P4   MF   Situação
Joaquim  5.5  5.3  5.6  8.5  6.2   Aprovado
Bruna    1.9  3.8  0.4  6.9  3.2  Reprovado
Laura    5.1  3.5  5.3  4.3  4.6  Reprovado
Daniel   7.3  2.6  1.7  4.5  4.0  Reprovado
Clara    8.5  8.8  9.9  8.5  8.9   Aprovado

#**Formatando a cor da letra em uma Tabela**

Numa tabela com as informações das notas é importante realçar os alunos com baixo rendimento e os alunos com um bom rendimento. 

Para isso criamos uma função para definir alguns critérios, aqui vamos mudar a cor da fonte para vermelho para os alunos que tiveram nota inferior a 5 e azul para os alunos com nota acima ou igual a 5.

Criamos uma função para colorir a situação dos alunos (aprovado ou reprovado).

Depois utilizamos o 'style.applymap' para aplicar as funções criadas. O comando 'format' utlizamos para formatar os números.

In [16]:
def cores (notas):
    color = 'red' if notas <5 else 'blue'
    return 'color: %s' % color 
 
def cor(val):
    return 'color: %s' % ('blue' if val in {"Aprovado"} else 'red')

df1 = df.style.applymap(cores, subset=['P1','P2','P3','P4','MF'])\
            .applymap(cor, subset=['Situação'])\
            .format({"P1":"{:50,.2f}",
                  "P2":"{:50,.2f}",
                  "P3":"{:50,.2f}",
                  "P4":"{:50,.2f}",
                "MF":"{:50,.2f}"})
df1

##**Formatando a cor da célula em uma Tabela**

E se ao invés de mudar a cor da fonte, o interesse for em colorir a célula (cor de fundo), preciso aplicar a cor no background. Para isso utilizo o comando 'background_gradient',

In [17]:

df.style.format({"P1":"{:50,.2f}",
                  "P2":"{:50,.2f}",
                  "P3":"{:50,.2f}",
                  "P4":"{:50,.2f}",
                "MF":"{:50,.2f}"})\
        .background_gradient(cmap='Blues')

E se você quiser mudar a cor da célula, utilizando um critério próprio, é preciso criar uma função definindo esse critério e no 'return' aplicamos a cor no background ('background-color').

In [18]:
def cores (notas):
    color = '#FF9185' if notas <5 else 'lightblue'
    return 'background-color: %s' % color 

df1 = df.style.applymap(cores, subset=['P1','P2','P3','P4','MF'])\
            .applymap(cor, subset=['Situação'])\
            .format({"P1":"{:50,.2f}",
                  "P2":"{:50,.2f}",
                  "P3":"{:50,.2f}",
                  "P4":"{:50,.2f}",
                "MF":"{:50,.2f}"})
df1

##**Adicionando uma barra nas linhas da Tabela**

Uma maneira interessante de formatar uma tabela é acrescentando uma barra nas células. Para isso utilizamos o comando 'style.bar'.

In [19]:
df.style.format({"P1":"{:20,.2f}",
                  "P2":"{:20,.2f}",
                  "P3":"{:20,.2f}",
                  "P4":"{:20,.2f}",
                  "MF":"{:20,.2f}"})\
          .bar(subset=["P1",], color='lightgreen',vmin=0,vmax=10)\
          .bar(subset=["P2",], color='#ee1f5f',vmin=0)\
          .bar(subset=["P3",], color='#FFA07A',vmin=0)\
          .bar(subset=["P4",], color='lightblue',vmin=0)\
          .bar(subset=["MF",], color='#c8a2c8 ',vmin=0)\

In [20]:
df.style.format({"P1":"{:20,.2f}",
                  "P2":"{:20,.2f}",
                  "P3":"{:20,.2f}",
                  "P4":"{:20,.2f}",
                  "MF":"{:20,.2f}"})\
          .bar(subset=["P1","P2","P3","P4","MF"], color='#FF9185 ',vmin=0,vmax=5)\
          .bar(subset=["P1","P2","P3","P4","MF"], color='lightblue',vmin=5,vmax=10)\

##**Links Úteis**

https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html